In [1]:
import numpy as np
import pandas as pd
import os
import xarray as xr
import seaborn as sns

from n0_config_params import *
from n0bis_config_analysis_functions import *

<frozen importlib._bootstrap>:219: RuntimeWarning: scipy._lib.messagestream.MessageStream size changed, may indicate binary incompatibility. Expected 56 from C header, got 64 from PyObject

# Load Data

In [2]:
sujet_list = np.array(['PD01','MJ02','VN03','GB04','LV05','EF06','DM08','TA09','BH10','FA11','BD12','FP13',
'MD14','LG15','GM16','JR17','SE18','TM19','TY20','ZV21','DI22','LF23','TJ24','DF25','MN26','BD27','NT28','SC29',
'AR30','HJ31','CM32','MA33']) #exclude PB07
session_list = np.array(['+', 'o', '-'])
cond_list = np.array(['FR_CV1', 'MECA', 'CO2', 'FR_CV2'])

correspondance_odor = {'+' : 'P', 'o' : '0', '-' : 'N'}
correspondance_cond = {'FR_CV1' : 'Variables cycle BL', 'MECA' : 'Variables cycle T1', 'CO2' : 'Variables cycle T2', 'FR_CV2' : 'VS POST'}

df_columns_keep = ['TI', 'Te', 'Ttot', 'BF', 'VT', 'Ve', 'VT/Ti', 'Ti/Ttot', 'PRESS', 'PetCO2', 'VAS S', 'VAS A', 'Temps de début de cycle']

In [4]:
# sujet = 'PD01'
# session_i = 'o'
# cond = 'FR_CV1'

os.chdir(os.path.join(path_data, 'respi_detection'))

for sujet in sujet_list:

    for cond in cond_list:

        for session_i in session_list:

            file_df = [file_i for file_i in os.listdir() if (file_i.find(f'{sujet}') != -1 and file_i.find(f'{correspondance_odor[session_i]}.xlsx') != -1)][0]
            raw_df = pd.read_excel(file_df, sheet_name=correspondance_cond[cond])
            raw_df = raw_df.drop(columns=['INSPI', 'EXPI'])
            raw_df = raw_df.drop([0])
            raw_df_val = raw_df['Temps de début de cycle'].values.astype('float')
            mask = ~np.isnan(raw_df_val)
            raw_df = raw_df.loc[mask,:]
            raw_df = raw_df[df_columns_keep]
            raw_df.insert(0, 'sujet', [sujet]*raw_df.index.shape[0], True)
            raw_df.insert(1, 'cond', [cond]*raw_df.index.shape[0], True)
            raw_df.insert(2, 'session', [session_i]*raw_df.index.shape[0], True)

            if (sujet, cond, session_i) == (sujet_list[0], cond_list[0], session_list[0]): 

                df_respi = raw_df

            else:

                df_respi = pd.concat([df_respi, raw_df])

df_respi = df_respi.reset_index().drop(columns=['index'])
df_respi

,sujet,cond,session,TI,Te,Ttot,BF,VT,Ve,VT/Ti,Ti/Ttot,PRESS,PetCO2,VAS S,VAS A,Temps de début de cycle
0,PD01,FR_CV1,+,3.36,3.8,7.16,8.379888,1.240674,10.396710,0.369248,46.927374,-2.762483,31.306473,NaN,NaN,0
1,PD01,FR_CV1,+,2.47,2.69,5.16,11.627907,0.954505,11.098891,0.386439,47.868217,-2.781207,35.360859,NaN,NaN,7.16
2,PD01,FR_CV1,+,2.35,2.61,4.96,12.096774,0.823481,9.961464,0.350417,47.379032,-2.650142,42.060657,NaN,NaN,12.32
3,PD01,FR_CV1,+,2.21,2.45,4.66,12.875536,0.786929,10.132132,0.356076,47.424893,-2.762483,39.932823,NaN,NaN,17.28
4,PD01,FR_CV1,+,2.08,3.44,5.52,10.869565,0.765906,8.325066,0.368224,37.681159,-2.762483,38.207554,NaN,NaN,21.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34921,MA33,FR_CV2,-,2.91,2.57,5.48,10.948905,0.511658,5.602099,0.175828,53.10219,-2.056912,38.053444,NaN,NaN,375.49
34922,MA33,FR_CV2,-,1.71,1.8,3.51,17.094017,0.239075,4.086753,0.139810,48.717949,-1.687147,23.066575,NaN,NaN,380.97
34923,MA33,FR_CV2,-,1.65,1.8,3.45,17.391304,0.286438,4.981529,0.173599,47.826087,-1.88176,39.383446,NaN,NaN,384.48
34924,MA33,FR_CV2,-,1.57,1.71,3.28,18.292683,0.297653,5.444880,0.189588,47.865854,-1.920683,22.028522,NaN,NaN,387.93
34925,MA33,FR_CV2,-,NaN,NaN,NaN,NaN,0.393341,NaN,NaN,NaN,-1.998528,,NaN,NaN,391.21

# Analyze time

In [8]:
for sujet in sujet_list:

    for cond in cond_list:

        for session_i in session_list:

            print(df_respi.query(f"sujet == '{sujet}' & cond == '{cond}' & session == '{session_i}'")['Ttot'])
            break

0     7.16
1     5.16
2     4.96
3     4.66
4     5.52
      ...
83       0
84       0
85       0
86       0
87       0
Name: Ttot, Length: 88, dtype: object
216    3.23
217     6.5
218    5.15
219    4.27
220    4.36
       ...
299     NaN
300     NaN
301     NaN
302     NaN
303     NaN
Name: Ttot, Length: 88, dtype: object
443    5.78
444    5.41
445    5.07
446    5.02
447    7.22
448    6.27
449    5.13
450    6.25
451    4.84
452    6.25
453    5.28
454    5.45
455     5.3
456    4.45
457    4.58
458     5.1
459    4.77
460    5.71
461    4.87
462    4.82
463    6.75
464    4.61
465    4.54
466    4.21
467    4.43
468     4.6
469    5.05
470    4.95
471     4.9
472    5.39
473    3.99
474    4.38
475     4.4
476    5.65
477    5.23
478    5.79
479    6.85
480    6.68
481    6.23
482    5.23
483    5.26
484    4.75
485    4.15
486    4.39
487    4.48
488    3.96
489    6.45
490     5.4
491    5.32
492    6.02
493    5.35
494    5.47
495    5.36
496    5.77
497     4.7
498    5.01
499    4.66
500    5.53
Name: Ttot, dtype: object
606    4.24
607    4.82
608     4.5
609    3.67
610    3.93
       ...
685       0
686       0
687       0
688       0
689       0
Name: Ttot, Length: 84, dtype: object
863    4.48
864    4.27
865    4.54
866    4.62
867    4.36
       ...
946       0
947       0
948       0
949       0
950       0
Name: Ttot, Length: 88, dtype: object
1103    5.09
1104    5.22
1105    4.78
1106    4.67
1107    5.04
        ...
1182     NaN
1183     NaN
1184     NaN
1185     NaN
1186     NaN
Name: Ttot, Length: 84, dtype: object
1351    5.13
1352    6.36
1353    3.35
1354    5.76
1355    5.73
1356    4.73
1357    5.94
1358    6.18
1359    5.38
1360    6.52
1361     5.1
1362    5.84
1363    5.48
1364    6.44
1365    3.94
1366    4.84
1367    4.83
1368    5.92
1369    5.04
1370    5.56
1371    4.24
1372    5.53
1373    5.78
1374    6.17
1375    6.43
1376    4.06
1377     5.7
1378    4.87
1379    5.66
1380    4.77
1381     5.2
1382    5.78
1383    4.89
1384    5.88
1385    4.45
1386     4.8
1387    5.67
1388    4.52
1389    5.16
1390    4.78
1391    4.46
1392    5.76
1393    3.66
1394    4.37
1395    5.58
1396    4.34
1397    5.98
1398    4.21
1399    5.12
1400    5.06
1401    4.93
1402    6.41
1403    4.33
1404    4.38
1405    5.38
1406    3.99
1407    5.34
1408    4.79
1409     5.1
Name: Ttot, dtype: object
1513    4.11
1514    4.22
1515    4.25
1516    4.19
1517    4.35
        ...
1597    3.41
1598    4.72
1599    3.61
1600    3.89
1601    3.86
Name: Ttot, Length: 89, dtype: object
1774    4.39
1775    4.31
1776    4.09
1777    4.58
1778     4.4
        ...
1842    4.83
1843     NaN
1844       0
1845       0
1846       0
Name: Ttot, Length: 73, dtype: object
1976    4.28
1977    3.89
1978    3.08
1979    2.97
1980    4.36
        ...
2052    4.38
2053    5.13
2054     NaN
2055       0
2056       0
Name: Ttot, Length: 81, dtype: object
2211    5.11
2212    5.14
2213    4.88
2214    5.19
2215    4.75
2216    4.92
2217    4.49
2218    4.05
2219    4.45
2220    4.14
2221    5.07
2222    4.56
2223    4.28
2224    4.68
2225    5.78
2226    4.72
2227    4.77
2228    4.58
2229     4.8
2230    4.65
2231    4.54
2232    9.01
2233       6
2234       5
2235    5.54
2236    4.76
2237    6.37
2238    6.25
2239    5.14
2240     5.5
2241    5.17
2242    6.96
2243    5.99
2244    5.49
2245    4.45
2246    5.98
2247    5.95
2248    6.81
2249    6.14
2250    5.49
2251    4.87
2252    5.94
2253    5.08
2254    6.32
2255    6.44
2256    5.43
2257    5.06
2258       8
2259    6.72
2260    5.83
2261    5.03
2262    5.71
2263    7.64
2264    5.92
2265    6.22
2266     NaN
Name: Ttot, dtype: object
2388    4.73
2389    4.97
2390    4.83
2391    5.46
2392    4.81
        ...
2471       0
2472       0
2473       0
2474       0
2475       0
Name: Ttot, Length: 88, dtype: object
2644    3.77
2645    3.74
2646    4.19
2647    3.49
2648     3.6
        ...
2728    4.01
2729    3.18
2730    3.97
2731    3.17
2732    3.45
Name: Ttot, Length: 89, dtype: object
2909     4.1
2910    4.13
2911    4.43
2912    4.25
2913     4.2
        ...
2993    3.27
2994    2.74
2995    2.58
2996    2.95
2997    2.75
Name: Ttot, Length: 89, dtype: object
3185    3.93
3186    3.41
3187    4.52
3188    3.25
3189    3.43
        ...
3259    3.85
3260    3.49
3261    4.25
3262    6.22
3263     4.2
Name: Ttot, Length: 79, dtype: object
3418    4.61
3419    4.35
3420    3.43
3421    3.37
3422    3.24
        ...
3502    3.62
3503     3.5
3504    3.51
3505     3.4
3506    2.93
Name: Ttot, Length: 89, dtype: object
3685    6.53
3686    6.04
3687    6.22
3688    6.12
3689    6.37
        ...
3761       0
3762       0
3763       0
3764       0
3765       0
Name: Ttot, Length: 81, dtype: object
3919    6.42
3920    5.61
3921    6.06
3922    4.78
3923    6.14
        ...
4002     NaN
4003     NaN
4004     NaN
4005     NaN
4006     NaN
Name: Ttot, Length: 88, dtype: object
4176    4.67
4177    4.97
4178     4.5
4179    4.97
4180    4.72
        ...
4238     4.4
4239    5.02
4240    4.69
4241    4.68
4242    4.44
Name: Ttot, Length: 67, dtype: object
4362    6.15
4363    5.22
4364    4.57
4365     4.8
4366    7.28
        ...
4442     NaN
4443     NaN
4444     NaN
4445     NaN
4446     NaN
Name: Ttot, Length: 85, dtype: object
4617    4.39
4618    4.19
4619    3.92
4620    3.84
4621    4.26
        ...
4701    4.23
4702    3.87
4703    3.79
4704    3.94
4705    3.86
Name: Ttot, Length: 89, dtype: object
4871       4
4872    3.93
4873    3.79
4874    3.78
4875     3.5
        ...
4955     3.1
4956    3.18
4957    3.11
4958    3.14
4959    3.13
Name: Ttot, Length: 89, dtype: object
5138     3.9
5139    4.29
5140    4.59
5141     4.7
5142     4.8
        ...
5205    3.63
5206    4.16
5207    5.39
5208    3.48
5209     3.4
Name: Ttot, Length: 72, dtype: object
5360     4.4
5361    4.52
5362    3.88
5363    5.08
5364    5.05
        ...
5441       0
5442       0
5443       0
5444       0
5445       0
Name: Ttot, Length: 86, dtype: object
5611    10.36
5612     8.36
5613     5.65
5614     8.84
5615      7.5
        ...
5679        0
5680        0
5681        0
5682        0
5683        0
Name: Ttot, Length: 73, dtype: object
5826     7.09
5827     6.67
5828    10.26
5829    11.09
5830    10.07
        ...
5909        0
5910        0
5911        0
5912        0
5913        0
Name: Ttot, Length: 88, dtype: object
6077    3.69
6078    4.07
6079    3.31
6080    3.02
6081    2.54
        ...
6168    2.83
6169    2.99
6170    2.73
6171    4.42
6172    2.51
Name: Ttot, Length: 96, dtype: object
6350     5.62
6351     4.46
6352     5.29
6353     5.95
6354     5.67
6355      5.4
6356     4.67
6357     4.17
6358     5.33
6359     6.63
6360     7.88
6361     4.64
6362     4.67
6363     4.28
6364     5.39
6365     1.71
6366     4.87
6367     2.09
6368     6.21
6369     4.77
6370     7.57
6371     7.95
6372     5.99
6373     7.45
6374     8.55
6375     5.56
6376     3.31
6377     9.23
6378     5.89
6379     4.72
6380     5.52
6381     5.71
6382     6.65
6383     2.09
6384     2.18
6385     8.26
6386     5.77
6387     6.17
6388     6.22
6389     5.19
6390     5.16
6391     4.74
6392     5.09
6393      6.1
6394     7.27
6395     8.18
6396    12.52
6397      6.6
6398      NaN
6399      NaN
6400        0
6401        0
6402        0
6403        0
6404        0
6405        0
6406        0
6407        0
Name: Ttot, dtype: object
6580    5.92
6581    6.43
6582    5.53
6583    5.22
6584       5
        ...
6663       0
6664       0
6665       0
6666       0
6667       0
Name: Ttot, Length: 88, dtype: object
6827    4.97
6828     4.3
6829    7.89
6830    5.88
6831    4.83
        ...
6904       0
6905       0
6906       0
6907       0
6908       0
Name: Ttot, Length: 82, dtype: object
7082    6.06
7083    6.13
7084    6.08
7085    5.66
7086    5.79
7087    5.52
7088       6
7089    5.79
7090    6.06
7091    5.66
7092     6.5
7093    6.23
7094    5.86
7095    5.92
7096     6.4
7097     6.3
7098    6.31
7099    6.04
7100    5.79
7101    6.38
7102    6.02
7103    6.17
7104    5.59
7105    5.86
7106    5.89
7107    5.92
7108    6.08
7109    5.74
7110    6.12
7111     6.2
7112    5.83
7113    6.13
7114    5.62
7115    5.74
7116    5.63
7117    6.03
7118    5.83
7119     5.6
7120    6.47
7121    8.16
7122    7.17
7123    6.68
7124    6.62
7125    6.47
7126    6.57
7127    6.76
7128    6.65
7129    6.58
7130    6.58
7131    6.54
Name: Ttot, dtype: object
7290    5.88
7291    5.62
7292    5.76
7293    6.36
7294     5.8
        ...
7369       0
7370       0
7371       0
7372       0
7373       0
Name: Ttot, Length: 84, dtype: object
7548    5.99
7549    6.52
7550    6.48
7551    6.84
7552    7.09
        ...
7614       0
7615       0
7616       0
7617       0
7618       0
Name: Ttot, Length: 71, dtype: object
7784    5.25
7785    4.99
7786    4.83
7787    4.67
7788    5.15
        ...
7865       0
7866       0
7867       0
7868       0
7869       0
Name: Ttot, Length: 86, dtype: object
8040    4.07
8041    3.79
8042    3.58
8043    3.59
8044    4.32
        ...
8114    3.55
8115    3.63
8116    3.39
8117    3.65
8118    3.62
Name: Ttot, Length: 79, dtype: object
8262    5.08
8263    5.49
8264    5.04
8265    4.89
8266     5.7
        ...
8341       0
8342       0
8343       0
8344       0
8345       0
Name: Ttot, Length: 84, dtype: object
8515    5.04
8516    5.29
8517    6.77
8518    7.49
8519     8.5
        ...
8584       0
8585       0
8586       0
8587       0
8588       0
Name: Ttot, Length: 74, dtype: object
8758    4.51
8759    4.18
8760       4
8761    4.63
8762    4.19
        ...
8842    2.76
8843    3.29
8844    3.15
8845    3.19
8846    4.62
Name: Ttot, Length: 89, dtype: object
9002    2.88
9003    2.58
9004    2.59
9005     2.4
9006    2.63
        ...
9110    2.67
9111    2.63
9112    2.45
9113    2.65
9114     2.6
Name: Ttot, Length: 113, dtype: object
9329    3.93
9330    4.05
9331    4.77
9332    3.92
9333    4.19
        ...
9407    3.85
9408     NaN
9409       0
9410       0
9411       0
Name: Ttot, Length: 83, dtype: object
9571    4.06
9572    4.17
9573    3.67
9574     3.8
9575    3.96
        ...
9654     NaN
9655     NaN
9656       0
9657       0
9658       0
Name: Ttot, Length: 88, dtype: object
9808    4.27
9809    4.73
9810    4.01
9811    4.79
9812    4.56
        ...
9883       0
9884       0
9885       0
9886       0
9887       0
Name: Ttot, Length: 80, dtype: object
10054    3.22
10055    3.55
10056    3.03
10057    3.28
10058    2.82
         ...
10157    2.52
10158    2.63
10159    2.59
10160    2.72
10161     2.8
Name: Ttot, Length: 108, dtype: object
10344    4.46
10345    4.47
10346     4.4
10347    3.75
10348    4.47
         ...
10418       0
10419       0
10420       0
10421       0
10422       0
Name: Ttot, Length: 79, dtype: object
10599     4.6
10600    4.39
10601    3.95
10602    4.47
10603    4.96
         ...
10683    3.96
10684    4.02
10685    4.03
10686    4.29
10687    3.81
Name: Ttot, Length: 89, dtype: object
10844    4.15
10845    4.21
10846    3.69
10847    4.05
10848    3.81
         ...
10920       0
10921       0
10922       0
10923       0
10924       0
Name: Ttot, Length: 81, dtype: object
11094    4.98
11095    5.25
11096    4.66
11097     5.2
11098    5.05
         ...
11162    3.47
11163    3.38
11164    3.59
11165    3.44
11166    3.23
Name: Ttot, Length: 73, dtype: object
11323    4.79
11324    3.61
11325    3.72
11326    3.58
11327    3.41
         ...
11407     3.7
11408    3.78
11409    3.84
11410    3.96
11411    4.17
Name: Ttot, Length: 89, dtype: object
11587     3.9
11588    3.63
11589    3.84
11590    3.88
11591    3.82
         ...
11669       0
11670       0
11671       0
11672       0
11673       0
Name: Ttot, Length: 87, dtype: object
11834    3.61
11835    3.44
11836    3.36
11837     3.8
11838    4.06
         ...
11911    3.58
11912     4.1
11913     4.2
11914    4.05
11915     NaN
Name: Ttot, Length: 82, dtype: object
12077    4.14
12078    4.32
12079    4.48
12080    4.05
12081    4.06
         ...
12149    4.92
12150     5.2
12151    4.54
12152    4.34
12153    4.31
Name: Ttot, Length: 77, dtype: object
12252    3.78
12253    3.76
12254    3.87
12255    4.24
12256    3.79
         ...
12333       0
12334       0
12335       0
12336       0
12337       0
Name: Ttot, Length: 86, dtype: object
12511    8.78
12512    5.16
12513    9.91
12514    7.56
12515    6.51
         ...
12595    3.91
12596    7.23
12597    6.38
12598    5.67
12599    6.61
Name: Ttot, Length: 89, dtype: object
12744    5.96
12745    4.87
12746    6.86
12747    9.01
12748    5.28
         ...
12828    4.39
12829     4.3
12830    5.14
12831    5.12
12832    4.84
Name: Ttot, Length: 89, dtype: object
12996    4.62
12997    4.49
12998    4.97
12999    5.57
13000    6.68
         ...
13060    2.83
13061     1.5
13062     4.6
13063    3.67
13064    4.05
Name: Ttot, Length: 69, dtype: object
13212    7.94
13213    6.04
13214    5.69
13215    4.72
13216    4.07
         ...
13289       0
13290       0
13291       0
13292       0
13293       0
Name: Ttot, Length: 82, dtype: object
13465    3.02
13466    3.61
13467     3.3
13468    3.08
13469    3.52
         ...
13549    3.11
13550    3.47
13551     3.2
13552    3.33
13553    3.52
Name: Ttot, Length: 89, dtype: object
13740    2.63
13741    2.77
13742    2.96
13743    3.03
13744       3
         ...
13824    3.73
13825    3.96
13826    4.58
13827    4.38
13828    4.46
Name: Ttot, Length: 89, dtype: object
14041    3.18
14042     3.2
14043    3.32
14044    3.34
14045    3.03
         ...
14136    2.88
14137     NaN
14138     NaN
14139     NaN
14140     NaN
Name: Ttot, Length: 100, dtype: object
14349    3.45
14350    3.18
14351    3.67
14352    3.64
14353    4.72
         ...
14429       0
14430       0
14431       0
14432       0
14433       0
Name: Ttot, Length: 85, dtype: object
14612    5.64
14613     4.9
14614    5.01
14615    5.48
14616    5.27
         ...
14718     NaN
14719     NaN
14720     NaN
14721     NaN
14722     NaN
Name: Ttot, Length: 111, dtype: object
14946    4.14
14947    4.39
14948     4.1
14949    4.53
14950     4.4
         ...
15071     NaN
15072     NaN
15073     NaN
15074     NaN
15075     NaN
Name: Ttot, Length: 130, dtype: object
15340       6.44
15341       6.24
15342       6.19
15343       6.08
15344       5.41
15345       6.58
15346       5.87
15347       6.32
15348       6.14
15349       5.95
15350       4.19
15351       5.84
15352       6.41
15353       5.85
15354       5.88
15355       5.32
15356       5.25
15357        5.9
15358        4.8
15359       5.07
15360       4.43
15361       4.94
15362       5.46
15363       5.62
15364       5.28
15365        5.7
15366       5.58
15367       5.98
15368       6.12
15369       5.47
15370       5.82
15371       5.23
15372       5.26
15373       5.89
15374       5.91
15375          6
15376       5.25
15377        5.6
15378       5.16
15379       5.09
15380        4.7
15381       6.72
15382       5.42
15383       5.44
15384       4.69
15385       5.31
15386       5.12
15387       5.88
15388       5.01
15389       4.71
15390       5.24
15391       7.29
15392       6.34
15393       5.93
15394       6.97
15395   -1634.66
Name: Ttot, dtype: object
15586     6.66
15587     6.99
15588      6.4
15589     7.09
15590     5.72
15591     5.13
15592     6.94
15593     5.91
15594     6.32
15595     5.36
15596     6.45
15597     4.68
15598     8.82
15599     9.77
15600     8.97
15601     9.41
15602      6.4
15603     6.79
15604     5.26
15605     3.18
15606     5.34
15607     8.43
15608     6.92
15609     6.14
15610     5.47
15611     7.28
15612     6.63
15613     5.52
15614     5.81
15615     5.37
15616     6.75
15617    15.81
15618     4.79
15619     7.76
15620     4.77
15621     5.57
15622     6.13
15623     6.95
15624     4.37
15625     5.54
15626      5.9
15627     8.08
15628     5.28
15629     4.88
15630     3.54
15631     4.86
15632     5.06
15633      NaN
Name: Ttot, dtype: object
15780    3.15
15781    3.03
15782     3.1
15783    3.09
15784    2.87
         ...
15864    3.22
15865    3.03
15866    3.22
15867    3.16
15868    3.36
Name: Ttot, Length: 89, dtype: object
16031    2.32
16032    2.39
16033    2.27
16034    2.51
16035    2.45
         ...
16152    2.55
16153    2.46
16154    2.61
16155    2.57
16156    2.42
Name: Ttot, Length: 126, dtype: object
16372    2.93
16373    3.15
16374    3.31
16375    3.18
16376    3.35
         ...
16458    3.63
16459     3.5
16460    3.21
16461    3.53
16462    3.56
Name: Ttot, Length: 91, dtype: object
16644    3.02
16645    3.33
16646     3.4
16647     3.5
16648     3.3
         ...
16728    3.66
16729     3.8
16730    3.55
16731    3.47
16732    3.63
Name: Ttot, Length: 89, dtype: object
16911    7.75
16912    6.06
16913    5.05
16914    5.42
16915    5.36
         ...
16977       0
16978       0
16979       0
16980       0
16981       0
Name: Ttot, Length: 71, dtype: object
17159    5.27
17160    7.38
17161    6.03
17162    6.08
17163    5.64
         ...
17239       0
17240       0
17241       0
17242       0
17243       0
Name: Ttot, Length: 85, dtype: object
17434    2.68
17435    2.59
17436    2.46
17437    3.08
17438    3.25
         ...
17526    3.31
17527     3.2
17528    3.21
17529     3.1
17530    3.08
Name: Ttot, Length: 97, dtype: object
17737     9.34
17738    11.25
17739     7.84
17740      8.6
17741     9.33
         ...
17814        0
17815        0
17816        0
17817        0
17818        0
Name: Ttot, Length: 82, dtype: object
17992    2.36
17993    2.31
17994     2.2
17995    2.37
17996    2.39
         ...
18133    2.45
18134    2.37
18135    2.41
18136    2.44
18137     NaN
Name: Ttot, Length: 146, dtype: object
18393    2.19
18394    2.15
18395    2.18
18396    2.39
18397     2.3
         ...
18549    2.06
18550    1.96
18551    2.05
18552    2.08
18553    2.18
Name: Ttot, Length: 161, dtype: object
18833    2.31
18834    2.27
18835    2.56
18836    2.38
18837    2.23
         ...
18953    2.64
18954    2.48
18955    2.34
18956    2.42
18957    2.63
Name: Ttot, Length: 125, dtype: object
19207    2.23
19208    2.51
19209    2.49
19210    2.48
19211    2.66
         ...
19326    2.86
19327     2.5
19328    2.56
19329    2.46
19330    2.51
Name: Ttot, Length: 124, dtype: object
19542    0
19543    0
19544    0
19545    0
19546    0
        ..
19610    0
19611    0
19612    0
19613    0
19614    0
Name: Ttot, Length: 73, dtype: object
19814    0
19815    0
19816    0
19817    0
19818    0
        ..
19898    0
19899    0
19900    0
19901    0
19902    0
Name: Ttot, Length: 89, dtype: object
20077    0
20078    0
20079    0
20080    0
20081    0
        ..
20161    0
20162    0
20163    0
20164    0
20165    0
Name: Ttot, Length: 89, dtype: object
20307    0
20308    0
20309    0
20310    0
20311    0
        ..
20391    0
20392    0
20393    0
20394    0
20395    0
Name: Ttot, Length: 89, dtype: object
20570     3.5
20571    3.54
20572    3.87
20573    4.26
20574    3.66
         ...
20676     NaN
20677     NaN
20678     NaN
20679     NaN
20680     NaN
Name: Ttot, Length: 111, dtype: object
20904    3.86
20905    4.03
20906    3.71
20907    3.33
20908    3.51
         ...
21031     NaN
21032     NaN
21033     NaN
21034     NaN
21035     NaN
Name: Ttot, Length: 132, dtype: object
21305    4.05
21306    4.14
21307    4.45
21308    4.16
21309    4.59
         ...
21372    4.01
21373    4.24
21374    4.03
21375    4.07
21376     NaN
Name: Ttot, Length: 72, dtype: object
21617    3.84
21618    4.13
21619    4.34
21620    3.81
21621     3.7
         ...
21697    3.56
21698    4.08
21699    4.07
21700    3.94
21701     NaN
Name: Ttot, Length: 85, dtype: object
21876    5.58
21877    5.45
21878    6.94
21879    6.67
21880    5.34
         ...
21942       0
21943       0
21944       0
21945       0
21946       0
Name: Ttot, Length: 71, dtype: object
22087    4.13
22088    3.37
22089     3.8
22090    3.95
22091    4.05
         ...
22164       0
22165       0
22166       0
22167       0